@import 'settings';
@import 'mixins';

@mixin button-with-icon($icon-url, $background-height: 13px, $background-color: map-get($boss-app-palette, primary) ) {
  padding-left: 40px;
  background: $background-color url($icon-url) 18px center no-repeat;
  background-size: auto $background-height;
}

.boss3-button {
  $background-color: map-get($boss-app-palette, primary);

  @include normalize-block();
  @include button-hover-behavior($background-color: $background-color);

  display: inline-block;
  padding: 0 20px;
  background-color: $background-color;
  border-radius: $boss-global-border-radius;
  line-height: 40px;
  color: white;
  font-weight: 300;
  white-space: nowrap;

  &:hover {
    color: white;
  }

  &_role{
    &_edit {
      $background-color: map-get($boss-app-palette, secondary);

      @include button-with-icon($icon-url: '../../resources/img/icon-pencil-white.svg', $background-color: $background-color);
      @include button-hover-behavior($background-color: $background-color);
    }

    &_view-more {
      $background-color: map-get($boss-app-palette, secondary);

      @include button-with-icon($icon-url: '../../resources/img/icon-plus-white.svg', $background-height: 11px, $background-color: $background-color);
      @include button-hover-behavior($background-color: $background-color);
    }

    &_add {
      $background-color: map-get($boss-app-palette, primary);

      @include button-with-icon($icon-url: '../../resources/img/icon-plus-white.svg', $background-height: 11px, $background-color: $background-color);
      @include button-hover-behavior($background-color: $background-color);
    }

    &_delete {
      $background-color: map-get($boss-app-palette, delete);

      @include button-with-icon($icon-url: '../../resources/img/icon-close-white.svg', $background-height: 11px, $background-color: $background-color);
      @include button-hover-behavior($background-color: $background-color);
    }

    &_download {
      $background-color: map-get($boss-app-palette, primary);

      @include button-with-icon($icon-url: '../../resources/img/icon-download-white.svg', $background-color: $background-color);
      @include button-hover-behavior($background-color: $background-color);
    }

    &_exclamation {
      $background-color: map-get($boss-app-palette, alert);

      @include button-with-icon($icon-url: '../../resources/img/icon-danger-white.svg', $background-color: $background-color);
      @include button-hover-behavior($background-color: $background-color);
    }

    &_enabled {
      $background-color: map-get($boss-app-palette, secondary);

      background-color: $background-color;
      @include button-hover-behavior($background-color: $background-color);
    }

    &_disabled {
      $background-color: map-get($boss-app-palette, alert);

      background-color: $background-color;
      @include button-hover-behavior($background-color: $background-color);
    }

    &_calendar {
      @include button-with-icon($icon-url: '../../resources/img/icon-calendar-white.svg');
      @include button-hover-behavior($background-color: map-get($boss-app-palette, primary));

      background-position-y: 48%;
    }

    &_accepted {
      $background-color: #44ca45;

      @include button-with-icon($icon-url: '../../resources/img/icon-mark-white.svg', $background-color: $background-color);
      @include button-hover-behavior($background-color: $background-color);
    }

    &_submit {
      $background-color: map-get($boss-app-palette, primary);

      background-color: $background-color;
      @include button-hover-behavior($background-color: $background-color);
    }

    &_back {
      $background-color: map-get($boss-app-palette, secondary);

      background-color: $background-color;
      @include button-hover-behavior($background-color: $background-color);
    }
  }

  &_type {
    &_small {
      $padding-left-with-icon: 30px;
      $background-position-x: 11px;

      padding: 0 16px;
      line-height: 30px;

      &.boss3-button_role_edit,
      &.boss3-button_role_view-more,
      &.boss3-button_role_add,
      &.boss3-button_role_delete,
      &.boss3-button_role_download,
      &.boss3-button_role_exclamation,
      &.boss3-button_role_calendar,
      &.boss3-button_role_accepted
      {
        padding-left: $padding-left-with-icon;
        background-position-x: $background-position-x;
      }
    }
  }
}

.boss3-buttons-group {
  @include normalize-block();

  &_adjust {
    &_button {
      display: inline-block;

      & + & {
        margin-left: 6px !important;
      }
    }
  }
}
