@import 'settings';
@import 'mixins';

.boss3-chart-with-notes-block {
  @include normalize-block();

  display: flex;

  &__notes-container {
    display: block;
  }

  &__notes-header {
    @include normalize-block();

    margin-bottom: 8px;
    font-size: 15px;
  }

  &__notes {
    @include normalize-block();

    margin-bottom: 15px;
  }

  &__notes-item {
    @include normalize-block();

    display: block;
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 1.3;

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 0;
      top: 5px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: #44ca45;
    }
  }

  &__show-more-notes {
    padding: 8px 42px 8px 28px;
    font-size: 12px;
    color: $boss-dark-gray;
    background: #f3f3f3 url(../../resources/img/icon-arrow-down-dark-gray.svg) no-repeat right 28px center;
    background-size: 9px auto;
  }

  &_adjust{
    &_chart-container {
      display: block;
      width: 560px;
      height: 180px;
    }
  }
}
