@import 'settings';
@import 'mixins';

.boss3 {
  &-h2 {
    @include normalize-block();

    font-size: 24px;
    font-weight: 400;
  }

  &-h4 {
    @include normalize-block();

    display: inline-block;
    font-size: 20px;
    font-weight: 400;
  }

  &-alert {
    display: block;
    position: relative;
    padding: 10px 15px 10px 43px;
    color: white;
    background: map-get($boss-app-palette, alert) url(../../resources/img/icon-danger-white.svg) 15px center no-repeat;
    background-size: auto 13px;
    border-radius: $boss-global-border-radius;

    &__text {
      font-weight: 300;
    }

    &__button-close {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 16px;
      right: 15px;
      background: url(../../resources/img/icon-close-white.svg) center center no-repeat;
      background-size: 100% 100%;
    }
  }

  &-content-block {
    &_adjust {
      &_alert {
        position: absolute;
        top: 8px;
        left: 10px;
        right: 10px;
      }
    }
  }

  &-username {
    font-size: 16px;
  }
}
