@mixin font-face ($font-family, $font-weight, $file-name, $font-style: normal) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  src: url("../../resources/fonts/#{$file-name}.otf");
}

@font-face {
  @include font-face($font-family: Montserrat, $font-weight: 100, $file-name: Montserrat-Thin);
}

@font-face {
  @include font-face($font-family: Montserrat, $font-weight: 200, $file-name: Montserrat-ExtraLight);
}

@font-face {
  @include font-face($font-family: Montserrat, $font-weight: 300, $file-name: Montserrat-Light);
}

@font-face {
  @include font-face($font-family: Montserrat, $font-weight: 400, $file-name: Montserrat-Regular);
}

@font-face {
  @include font-face($font-family: Montserrat, $font-weight: 500, $file-name: Montserrat-Medium);
}

@font-face {
  @include font-face($font-family: Montserrat, $font-weight: 600, $file-name: Montserrat-SemiBold);
}

@font-face {
  @include font-face($font-family: Montserrat, $font-weight: 700, $file-name: Montserrat-Bold);
}

@font-face {
  @include font-face($font-family: Montserrat, $font-weight: 800, $file-name: Montserrat-ExtraBold);
}

@font-face {
  @include font-face($font-family: Montserrat, $font-weight: 900, $file-name: Montserrat-Black);
}
