@import 'fonts';

$boss-max-page-width: 1200px;
$boss-root-side-padding: 115px;
$boss-global-border-radius: 5px;

$boss-content-block-padding: 35px 30px 38px;

$boss-app-palette: (
        primary: #84bef0,
        secondary: #86dd75,
        third: #8e8e8e,
        inactive: #d3d3d3,
        success: #3adb76,
        warning: #ffae00,
        alert: #ed7f7e,
        alert-border: #f26061,
        delete: #f26061,
        body-background: #d8e5eb
);
$boss-roles-palette: (
        manager: #f0af85,
        gm: #c1c1c1,
        bar-supervisor: #84bef0,
        bartender: #74dc61,
        floor-staff: #f3a84d,
        waitress: #db8ef8,
        kp: #86a9df,
        hostess: #ec6a6a,
        chef: #a9815d,
        security: #84daf1,
        pr: #d2d540,
        bar-back: #1f1f1f
);
$boss-sign-palette: (
        clocked-out: #8e8e8e,
        clocked-in: #74df77,
        break: #eebb4e
);
$boss-extra-light-gray: #f0f0f0;
$boss-very-light-gray: #d8d8d8;
$boss-light-gray: #aaaaaa;
$boss-medium-gray: #808080;
$boss-dark-gray: #4c4c4c;

$boss-body-background: map-get($boss-app-palette, body-background);
$boss-input-placeholder-color: $boss-very-light-gray;

$boss-global-font-size: 14px;
$boss-global-font-color: $boss-dark-gray;
$boss-global-font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
/// Set to `true` to enable antialiased type, using the `-webkit-font-smoothing` and `-moz-osx-font-smoothing` CSS properties.
$boss-global-line-height: 1.5;
$boss-body-antialiased: true !default;
$boss-global-weight-normal: 400;
$boss-global-weight-bold: bold;

$boss-buttons-group-margin: 35px 0 0;
