@import 'settings';
@import 'mixins';

.boss3-forms-block {
  @include normalize-block();
  @include content-block();

  &_adjust {
    &_buttons-group {
      margin: $boss-buttons-group-margin;
      text-align: center;
    }
  }
}

.boss3-page-content {
  @include normalize-block();

  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding: 25px $boss-root-side-padding 60px;

  &_type {
    &_with-additional-data {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &_adjust {
    &_paginator {
      margin-top: 20px !important;
    }
    &_user-info-block {
      min-width: 400px;
      margin-right: 30px !important;
    }
  }
}

.boss3-page-dashboard {
  @include normalize-block();

  padding: 30px $boss-root-side-padding 15px;
  background-color: white;

  &:after {
    @include clear-fix();
  }

  &_adjust {
    &_h2 {
      float: left;
      margin-bottom: 15px !important;
    }

    &_buttons-group {
      float: right;
    }

    &_dropdown-button {
      @include clear-fix();
    }
  }
}

.boss3-staff-members-list-block {
  @include normalize-block();
  @include content-block();

  padding-top: 120px;
}
