@import 'fonts';
@import 'settings';
@import 'mixins';
@import '../../node_modules/react-datepicker/dist/react-datepicker.css';
@import '../../node_modules/react-select/dist/react-select.css';

@import 'common-elements';
@import 'headers';
@import 'buttons';
@import 'form';
@import 'main-menu';
@import 'base-table';
@import 'paginator';
@import 'dropdown-button';
@import 'avatar';

@import 'simple-blocks';
@import 'clock-in-out-block';
@import 'steps-block';
@import 'user-info-block';
@import 'user-hours-info-block';
@import 'staff-members-list';
@import 'chart-with-notes-block';
@import 'from-to-block';

.boss3-html {
  @include normalize-block();

  padding: 0;
}

.boss3-body {
  @include normalize-block();

  margin: 0;
  background-color: map-get($boss-app-palette, body-background);
  color: $boss-dark-gray;
}
